/* Calendar */


/*.md-typeset__table table:not([class]) {*/
/*    font-size: .64rem;*/
/*}*/

/*.md-typeset__table {*/
/*  overflow-x: visible;*/
/*  margin-top: -5px;*/
/*}*/

.md-typeset__table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.md-typeset__table th {
  color: #0072c1;
  text-align: center;
  border-top: none;
  vertical-align: middle;
}

.md-typeset__table td {
  border: 1px solid #fff;
  padding: 6px;
  vertical-align: middle;
  position: relative;
}




.md-typeset__table td.weeknum {
  text-align: center;
}

.md-typeset__table td.reading ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.md-typeset__table td.even {
  background-color: #B0C4DE;
}

.md-typeset__table tr:hover td:not(.weeknum) {
  background-color: #B0C4DE;
}

